body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(21,100,192);
    background: radial-gradient(circle, rgba(21,100,192,1) 0%, rgba(169,204,231,1) 100%);
}

.calculator {
    width: 600px;
    margin: 50px auto;
    background-color: #2196F3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height:83vh;
    border-style: solid;
    border-color: white;
}

.display {
    padding: 10px;
    background-color: #2196F3;  
}

input[type="text"] {
    width: 570px;
    padding: 5px;
    font-size: 50px;
    border: none;
    background-color: white;
    height: 10vh;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .7rem;
    padding: 12px;
}
.equal-button{
    display: inline-block;
    border: 1px solid #1564C0;
    border-radius: 5px;
    width: 425%;
    text-align: center;
    padding: 25px 10px;
    margin: 7px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    background-color: #1564C0;
    transition: all .2s ease-in-out;
    font-size: 24px;
  }

button {
    padding: 35px;
    font-size: 20px;
    border: none;
    background-color:#1564C0 ;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;
}

button:hover {
    background-color: #444;
}
